# Do not track these files#
###########################
*.sln
*vcxproj
*.filters
*.user
*.cbp

*.layout


*.o
*.exe
*.depend

# Do not track contents of these folders#

#########################################

**/Debug/
**/.vs/
**/bin/

**/obj/

**/bin/Debug/